body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9pt;
}
.main {
  margin: 20px;
}
h3 {
  display: block;
}

.items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  margin-left: 10px;
}

.title,
.button {
  text-align: center;
}
.item div button {
  visibility: hidden;
}
.item:hover div button {
  visibility: visible;
}

button:hover{
    background: lightblue;
    border-radius: 3px;
}